<body>
  <div class="message-p pn2">
    <!-- <div class="message-header">
      <div class="element_bouton"><input class="favorite styled" (click)="onClickArriere(events.evenement1[0], events.evenement1[1], events.evenement1[2], events.evenement1[3], events.evenement1[4],
                                                                                  events.evenement2[0], events.evenement2[1], events.evenement2[2], events.evenement2[3], events.evenement2[4],
                                                                                  events.evenement3[0], events.evenement3[1], events.evenement3[2], events.evenement3[3], events.evenement3[4]
                                                                                  )" type="button" value="Précédent"> </div>
      <div class="element_event">Evènements</div>
      <div class="element_bouton"><input class="favorite styled" (click)="onClickAvant(events.evenement1[0], events.evenement1[1], events.evenement1[2], events.evenement1[3], events.evenement1[4],
                                                                                  events.evenement2[0], events.evenement2[1], events.evenement2[2], events.evenement2[3], events.evenement2[4],
                                                                                  events.evenement3[0], events.evenement3[1], events.evenement3[2], events.evenement3[3], events.evenement3[4]
                                                                                  )" type="button" value="Suivant"> </div>
    </div> -->
    <div class="message-header">
      <div class="element_bouton"><input class="favorite styled" (click)="onClickArriere(-1)" type="button" value="Précédent"> </div>
      <div class="element_event">Evènements</div>
      <div class="element_bouton"><input class="favorite styled" (click)="onClickAvant(1)" type="button" value="Suivant"> </div>
    </div>
    <div id="conteneur">

      <div class="element">
        <img id="photo" src="{{events.evenement1[3]}}" height="233" width="350"/>
      </div>
      <div id="element" class="element" >
        <div id="titre" class="titre">{{events.evenement1[0]}}</div>      
        <div id="date" class="date">{{events.evenement1[1]}}</div>
        <div id="adresse" class="adresse">{{events.evenement1[2]}}</div>
        <div id="description" class="description">{{events.evenement1[4]}}</div>
      </div>
    </div>
    <br><br><br>
    <div id="cmp" class="compteur">1/3</div>
  </div>
</body>