<div class="donut-main">
    <h4>film à l'affiche</h4>
          <!--ici il faudra mettre l api-->
    <div class="affiche">
    <div class='slider'>
      <div class='slides'>
        <div class='slide'><img src="{{ film.affiche }}" alt="pic" /></div>
        <div class='slide'><img src="{{ film.affiche1 }}" alt="pic" /></div>
        <div class='slide'><img src="{{ film.affiche2 }}" alt="pic" /></div>          
      </div>
    </div>
    </div>
  </div>
  <!--NEW EARNING STATS -->
  
  <!--new earning end-->
  <!-- RECENT ACTIVITIES SECTION -->
  <h4 class="centered mt">Description</h4>
  <!-- First Activity -->
  <div class="desc">
    <div class="details">
      
      <div class='desc'>
        <div class='slides'>
          <div class='text'>{{ film.description }}</div>
          <div class='text'>{{ film.description1 }} </div>
          <div class='text'>{{ film.description2 }}</div>          
        </div>
      </div>


 
    </div>
  </div>
  <!-- Second Activity -->
  <h4 class="centered mt">Acteurs</h4>
  <!-- First Member -->
  <div class="desc">
    <div class="details">
      
      <div class='desc'>
        <div class='slides'>
          <div class='text'>{{ film.acteur }}</div>
          <div class='text'>{{ film.acteur1 }}</div>
          <div class='text'>{{ film.acteur2 }}</div>

        </div>
      </div>


      
    </div>
  </div>
  <!-- Third Activity -->
  <div class="desc">
    
  </div>
  <!-- Fourth Activity -->
  <div class="desc">
    
  </div>
  <!-- USERS ONLINE SECTION -->
  
  <!-- Second Member -->
  <div class="desc">
    
  </div>
  <!-- Third Member -->
  <div class="desc">
    
  </div>
  <!-- Fourth Member -->
  <div class="desc">
    
</div>
  